#!/usr/bin/env xdg-open
[Desktop Entry]
Version=0.2
Comment=A simple GTK currency converter
Exec=cconverter --gtk %U
Icon=cconverter
Terminal=false
Type=Application
Encoding=UTF-8
StartupNotify=true
Categories=Application;Utility
Name=Currency Converter
Name[af]=Currency converter
Name[ar]=تحويل العملات
Name[be]=Канвертар валют
Name[bg]=Конвертор на валути
Name[ca]=Convertidor de divises
Name[cs]=Převodník měn
Name[cy]=Trawsnewidydd Arian cyfred
Name[da]=Valutaomregner
Name[de]=Währungsrechner
Name[el]=Μετατροπέας νομίσματος
Name[en]=Currency converter
Name[es]=Convertidor de divisas
Name[et]=Valuutakonverter
Name[fa]=مبدل ارز
Name[fi]=Valuuttamuunnin
Name[fr]=Convertisseur de devises
Name[ga]=Airgeadra tiontaire
Name[gl]=Conversor de divisas
Name[he]=ממיר מטבע
Name[hi]=मुद्रा परिवर्तक
Name[hr]=Pretvarač valuta
Name[hu]=Valutaváltó
Name[id]=Konverter mata uang
Name[is]=Myntbreytir
Name[it]=Convertitore di valute
Name[ja]=通貨コンバータ
Name[ko]=환율 계산기
Name[lt]=Valiutų skaičiuoklė
Name[lv]=Valūtas konvertētājs
Name[mk]=Конвертор на валути
Name[ms]=Penukar mata wang
Name[mt]=konvertitur Munita
Name[nl]=Currency converter
Name[no]=Valutaomregner
Name[pl]=kalkulator
Name[pt]=Conversor de Moedas
Name[ro]=Convertor de valuta
Name[ru]=Конвертор валют
Name[sk]=Prevodník mien
Name[sl]=Pretvornik valut
Name[sq]=Currency converter
Name[sr]=Конвертор валута
Name[sv]=Valutakonverterare
Name[sw]=Sarafu ya kubadilisha fedha
Name[th]=แปลงสกุลเงิน
Name[tl]=Currency converter
Name[tr]=Para birimi dönüştürücüsü
Name[uk]=Конвертор валют
Name[vi]=Chuyển đổi tiền tệ
Name[yi]=קראַנטקייַט האַלבן
Name[zh]=货币换算
